@import url(./Var/Variables.css);
@import "tailwindcss";
:root {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-light);
}
